body {
    background-color: #aaaaaa;
}

#loginContainer {
    display: block;
}

#registerContainer {
    display: none;
}

#addTeamsContainer {
    display: none;
}

#liveScoresContainer {
    display: none;
}

#gameInstanceContainer {
    display: flex;
}

.gameDiv {
    background: white;
    width: fit-content;
}